body {
    font-family: sans-serif;
}

.user-bio {
    background: url('../images/bg.jpg');
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    color: rgba(255, 255, 255, 0.5);
    padding-top: 119px;
}

.user-projects {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    overflow-y: auto;
    padding: 100px 20px;
}

.projects-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
}


.name strong {
    font-size: 2rem;
    color: #787878;
    font-weight: 400;
    line-height: 1.5em;
}

.name p {
    font-size: 1em;
    color: #787878;
    font-weight: 400;
    line-height: 1.5em;
}

h2.recent {
    margin-bottom: 50px;
    border-bottom: 2px solid #787878;
    width: 185px;
    color: #787878;
}


h5.projects-name {
    margin-top: 27px;
    color: #787878;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5em;
}

p.projects-desc {
    margin-bottom: 50px;
    color: #787878;
    font-weight: 400;
    font-size: 0.8em;
    line-height: 1.5em;
}

.user_id img {
    border-radius: 30px;
}

.user_id p {
    color: #1d0404;
    font-size: 1.35em;
    line-height: 1.75em;
    margin: 0;
}

.social_icons ul {
    list-style: none;
}


.social_icons ul {
    display: flex;
    justify-content: flex-end;
}

.social_icons ul li {
    margin-left: 25px;
    font-size: 27px;
}

.social_icons ul li i {
    color: #807878;
}

a {
    text-decoration: none !important;
    color: #807878 !important;
}

.user_id {
    padding: 100px 21px;
}

hr.divider {
    margin-bottom: 75px;
}

.myprojects {
    position: relative;
}

.my-btn {
    top: 34%;
    left: 29%;
    font-size: 25px;
    position: absolute;
    z-index: 2;
    opacity: 0;
    transition: .8s;
}

/*
/////////// */
.single-btn {
    color: #FFF;
    transition: all 0.5s;
    position: relative;
}

.single-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.3s;
}

.single-btn:hover::before {
    opacity: 0;
    transform: scale(0.5, 0.5);
}

.single-btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(255, 255, 255, 0.5);
    transform: scale(1.2, 1.2);
}

.single-btn:hover::after {
    opacity: 1;
    transform: scale(1, 1);
}

/*
///////// */

.user_id img {
    margin-bottom: 21px;
}

.copyright {
    color: rgba(255, 255, 255, 0.4);
    font-size: 0.5em;
    list-style: none;
    margin: 1em 0 0 0;
    padding: 0;
}


.projects-image {
    -webkit-filter: grayscale(0) blur(0);
    filter: grayscale(0) blur(0);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.projects-image:hover {
    -webkit-filter: grayscale(100%) blur(3px);
    filter: grayscale(100%) blur(3px);
}

.single-button {

    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 250px;
    cursor: pointer;

}


.my-btn a.btn-view,
.my-btn a.btn-code {
    color: #FFF !important;
    background: #3C3C3C;
    border-radius: 6px;
}

.my-btn a {
    color: #f9f9f9 !important;
    font-weight: 400;
    padding: 11px !important;
}

.myprojects:hover .my-btn {
    opacity: 1;
}

.myprojects:hover .project-show:before {
    opacity: 0.6;
}


input,
textarea,
button {
    width: 100%;
    margin: 10px;
    padding: 13px;
    background: #e6e6e6;
    border: none;
    color: #3d5967;
    font-size: 16px;
    resize: none;
    outline: none;
}

button {
    font-size: 13px;
}

.user_id img {
    width: 126px;
    height: auto;
    border-radius: 0;
}

.social_icons {
    margin-top: 54px;
}

.contact-details ul {
    list-style: none;
}

.contact-details ul li {
    display: flex;
}

.contact-details ul li h3 {
    color: #b2b2b2;
    text-align: center;
    width: 1em;
    margin-right: 16px;
}

.contact-details ul li {
    padding: 2px 0;
}

.contact-details {
    padding: 35px 0;
}

.contact-details ul li i {
    margin-right: 13px;
    font-size: 23px;
    line-height: 1.5;
    color: #807878;
    padding-right: 8px;
}

i.fa.fa-envelope {
    font-size: 20px;
}

.contact {
    margin-top: 90px;
}